In [1]:
#datan esikäsittely

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta10/titanic.csv')

#luokkamuuttuja 'Survived' on numeerinen eikä vaadi toimenpiteitä
#valitaan selittäviksi muuttujiksi 'Pclass','Sex','Age' ja 'Fare'
data = df[['Survived','Pclass','Sex','Age','Fare']].copy()
print(data['Pclass'].isna().value_counts())
print(data['Sex'].isna().value_counts())
print(data['Age'].isna().value_counts())
print(data['Fare'].isna().value_counts())

#muuttuja 'Sex' on merkkijono. tehdään sille numeerinen vastine
data['Sex'] = pd.Categorical(data['Sex'])
data['Sex_codes'] = data['Sex'].cat.codes

#tulosteesta nähdään myös, että 'Sex' on tuntematon 177 kertaa
#asialle on vaikea tehdä mitään, joten
data1 = data.dropna()

#lopputuloksena saadaan data1:een 714 käyttökelpoista riviä
data1.head()

False    891
Name: Pclass, dtype: int64
False    891
Name: Sex, dtype: int64
False    714
True     177
Name: Age, dtype: int64
False    891
Name: Fare, dtype: int64

   Survived  Pclass     Sex   Age     Fare  Sex_codes
0         0       3    male  22.0   7.2500          1
1         1       1  female  38.0  71.2833          0
2         1       3  female  26.0   7.9250          0
3         1       1  female  35.0  53.1000          0
4         0       3    male  35.0   8.0500          1

In [2]:
#irrotetaan datasta ennustettava luokkamuuttuja
y = data1['Survived']
X = data1.drop(columns=['Survived','Sex'])

# TODO: Jako opetus- ja testidataan
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.8, random_state=1234)

#skaalataan vielä
sts = StandardScaler().fit(train_X)
train_X = pd.DataFrame(sts.transform(train_X))
test_X = pd.DataFrame(sts.transform(test_X))

In [ ]:
import tensorflow as tf
tf.keras.backend.set_floatx('float64')

#luodaan neuroverkko
#sisäänmenoja 4+1
#ulos 2 arvoa eli 1 neuroni binäärioutputilla
model = tf.keras.Sequential([
    tf.keras.Input(shape=(train_X.shape[1])),
    tf.keras.layers.Dense(5,activation='relu'),
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(3, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [ ]:
#käännetään malli
model.compile(loss='binary_crossentropy',
             optimizer='Adam',
             metrics=['accuracy'])

#muutetaan data tensorflown omaan muotoon. batchit on vain optiona tässä
train_dataset = tf.data.Dataset.from_tensor_slices((train_X,train_y))
test_dataset = tf.data.Dataset.from_tensor_slices((test_X,test_y))
train_dataset, test_dataset = train_dataset.batch(1), test_dataset.batch(1)

#koulutetaan neuroverkkoa N kierrosta
#otetaan taas aika
from time import time
start_time = time()

#varsinainen koulutus
model.fit(train_dataset, 
          epochs=200)

print('Aikaa koulutukseen meni: {:.2f}'.format(time() - start_time), ' s')

#verrataan saatuja oppimistuloksia testidataan
results = model.evaluate(test_X, test_y, verbose=1)

In [ ]:
print(f"Test Loss:{results[0]} Test Accuracy:{results[1]*100}%")

# oma kommentti
Tässä siis poimittiin selittäviksi muuttujiksi `'Pclass','Sex','Age'` ja `'Fare'`. Näistä `'Sex'` piti muuttaa numeeriseksi ja lisäksi dropattiin ne rivit, joilta kyseinen tieto puuttui. Analyysiä varten luotiin neuroverkko, jossa on 8 ja 3 piilokerrosta nykyisin suositulla ReLU-aktivointifunktiolla. Ulostulokerroksessa on yksi neuroni, jonka aktivatioprofiilina toimii sigmoidi. Parhaimmillaan tällä päästiin 81.92% accuracyyn lossin ollessa 0.38 ja epookkien määrän 200. Useimmat ajot antoivat tarkkuudeksi noin 80 -- 81 %.

Testailumielessä ajoin myös korkeampia epookkimääriä 1000:een asti. Se ei juuri nostanut tarkkuutta, mutta lossia kyllä. Muita testattuja kokoonpanoja olivat piilokerrokset 5, 8 sekä 8+5+3. Neuronimäärien vaikutus verkon suoritusaikaan on odotettavasti suuri. Silti läppärilläkin tehtynä suoritusajat ovat kohtuullisia. Pisin ajo tosin 1070 sekuntia, mutta se ei häirinnyt koneen muuta käyttöä. Optimisaattorina kokeilussa olivat `Adam` sekä `FTRL`, joista jälkimmäinen tuntui antavan selvästi heikompia tarkkuuksia.